 
   
   <a href="/login">
       <img src="assets/images/applogo.png" alt="app logo" class="app-logo">
       <h1 style="position: absolute; top: 43%; left:44%; color:white; font-family: Roboto;">MusiCluster</h1>
   </a>

  